body {
  margin-top: 100px;
  font-family: "Lexend Tera", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.container {
  position: relative;
  width: 900px;
  height: auto;
}

.img-div {
}

.text-div {
  position: absolute;
  bottom: 30%;
  left: 40%;
  color: white;
  animation: rot-scale 5s linear infinite;
}

img {
  width: 70%;
  height: auto;
  clip-path: circle(28% at 50% 50%);
  animation: rot-scale 5s linear infinite;
}

span {
  color: darkcyan;
}

img:hover {
  clip-path: none;
}

@keyframes rot-scale {
  0% {
    transform: scale(1.2) perspective(23rem);
  }

  50% {
    transform: rotateY(45deg);
  }
}
